node_modules/
.next/
out/
build/
dist/
.env
.env.local
.env.production
*.log
npm-debug.log*
pnpm-debug.log*
logs/
prisma/*.db
prisma/*.db-journal
prisma/*.db-shm
prisma/*.db-wal
data/
.DS_Store
Thumbs.db
.vscode/
.idea/
coverage/
next-env.d.ts
tsconfig.tsbuildinfo
